/* Home-page */
.body_home {
    background-image: url("../img/bg_main/tropical_island_7-wallpaper-1920x1080.jpg");
    background-size: cover;
    background-size: auto;
    max-width: 100%;
    background-repeat: no-repeat;
}
p {
    text-align: center;
}
.top_title {
    font-family: Titillium Web, serif;
    font-size: 30px;
    font-weight: 210;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 0.4vw;
}
.nav_bar {
    display: flex;
    /*
    border: 2px solid green;
    */
    float: left;
    height: 8vw;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.4);
    margin-bottom: 6%;
}
.div1, .div2, .div3, .div4 { /* Nav Div's */
    display: flex;
    color: white;
    text-shadow: 3px 3px 3px black;
    margin-left: 10px;
    margin-left: 10px;
    height: 3vw;
    width: 12vw;
    background-color: rgb(0, 26, 255);
    justify-content: center;
    align-items: center;
    font-size: 1.8vw;
}
.div2, .div3, .div4 {
    background-color: rgb(0, 0, 204);
    margin-left: 10px;
}
.div3 {
    background-color: rgb(0, 0, 153);
}
.div4 {
    background-color: rgb(0, 0, 102);
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
.div1:hover, .div2:hover, .div3.hover, a:hover {
    background-color: rgba(74, 74, 255, 0.863);
}
.mini_content { /* Mini Content */
    display: flex;
    border: 2px solid rgba(0, 128, 0, 0);
    height: 12vw;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.336);
}
.mini_content_txt_big, .mini_content_txt_medium {
    font-size: 1.8vw;
    color: whitesmoke;
    font-family: sans-serif;
}
.mini_content_txt_medium {
    font-size: 1.1vw;
}
.contact_lnk {
    color: white;
}
.footer {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3.6%;
    background-color: rgba(39, 39, 39, 0.829);
    color: white;
    text-align: center;
    justify-content: right;
    align-items: center;
}
@media only screen and (max-width: 1024px)  { /* Mobile UI Home-page */
    .body_home {
        background-image: url("../img/bg_main/tropical_island_7-wallpaper-1366x768.jpg");
    }
    .nav_bar { /* Nav frame */
        margin-top: -6.5%;
        flex-direction: column;
        float: none;
        height: 100%;
        width: 20vw;
        align-items: flex-end;
    }
    .div1, .div2, .div3, .div4 { /* Nav button's */
        height: 6vw;
        width: 15vw;
        margin-left: 0px;
        margin-top: 10px;
        margin-right: 12.5%;
        font-size: 2.5vw;
    }
    .div4 {
        margin-bottom: 10px;
    }
    .footer {
        font-size: 12px;
    }
    .top_title {
        font-size: 25px;
    }
}
@media (min-height: 800px) { /* stokbrood detection */
    .body_home {
        background-image: url("../img/bg_main/tropical_island_7-wallpaper-1217x1999.jpg");
    }
}
/* lasagna detection */
@media only screen and (min-width: 1280px) {
    .body_home {
        background-image: url("../img/bg_main/tropical_island_7-wallpaper-1366x768.jpg");
    }
}
@media only screen and (min-width: 1366px) {
    .body_home {
        background-image: url("../img/bg_main/tropical_island_7-wallpaper-1600x900.jpg");
    }
}
@media only screen and (min-width: 1600px) {
    .body_home {
        background-image: url("../img/bg_main/tropical_island_7-wallpaper-1920x1080.jpg");
    }
}
@media only screen and (min-width: 1920px) {
    .body_home {
        background-image: url("../img/bg_main/tropical_island_7-wallpaper-2048x1152.jpg");
    }
}
@media only screen and (min-width: 2048px) {
    .body_home {
        background-image: url("../img/bg_main/tropical_island_7-wallpaper-2400x1350.jpg");
    }
}
@media only screen and (min-width: 2400px) {
    .body_home {
        background-image: url("../img/bg_main/tropical_island_7-wallpaper-2560x1440.jpg");
    }
}
@media only screen and (min-width: 2560px) {
    .body_home {
        background-image: url("../img/bg_main/tropical_island_7-wallpaper-2560x1440.jpg");
    }
}
@media (min-width: 2400px) {
    .body_home {
        background-image: url("../img/bg_main/tropical_island_7-wallpaper-6400x2400.jpg");
    }
}