body {
    background-image: url("../img/bg_main/tropical_island_7-wallpaper-1920x1080.jpg");
    background-repeat: no-repeat;
    background-size: stretch;
}
.nav_bar {
    display: flex;
    border: 2px solid green;
    float: left;
    height: 8vw;
    width: 100%;
}
.div1, .div2 { /*Button 1 + Button 2*/
    display: flex;
    border-radius: 3%;
    height: 3vw;
    width: 12vw;
    background-color: rgb(43, 49, 43);
    justify-content: center;
    align-items: center;
}
.div2 {
    background-color: blue;
    margin-left: 10px;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
    font-size: 1.8vw;
    text-shadow: 2px;
}
@media only screen and (max-width: 640px)  { /* Mobile bg*/
    .nav_bar {
        flex-direction: column;
        float: none;
        height: 100%;
        width: 8vw;
    }
    body {
        background-image: url("../img/bg_main/tropical_island_7_mobile_vga_-wallpaper-640x480.jpg");
    }
    .div2 {
        margin-left: 0px;
        margin-top: 10px;
    }
}