/* Home-page */
* {
    box-sizing: border-box;
    /* border: 2px solid green; */
}
::selection {
    background-color: rgba(88, 146, 255, 0.719);
}
.body_home, .body_ss, #Contact body, .C_body, #Tickets .Tc_body {
    background-image: url("../img/bg_main/tropical_island_7-wallpaper-1920x1080.jpg");
    background-size: cover;
    background-size: auto;
    max-width: 100%;
    background-repeat: no-repeat;
}
p {
    text-align: center;
}
.top_title, .mid_title, .small_title {
    font-family: Titillium Web, serif;
    font-size: 30px;
    font-weight: 210;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 0.4vw;
}
.mid_title, .small_title {
    font-size: 28px;
    font-family: sans-serif;
}
.small_title {
    font-size: 20px;
}
.nav_bar {
    display: flex;
    /* border: 2px solid green; */
    float: left;
    height: 8vw;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.4);
    margin-bottom: 1.69%;
}
.div1, #Home .div1, .div2, .div3, .div4, .div5, .div6, #Stedentrips .div1, .div2, .div3, .div4, .div6, #last_minute .div1, .div2, .div3, .div4, .div5, .div6, #Tickets .div1, .div2, .div4, .div5, .div6, #Verre_reizen .div1, .div3, .div4, .div5, .div6, #Zonvakanties .div2, .div3, .div4, .div5, .div6 { /* Nav Div's + page control */
    display: flex;
    color: white;
    text-shadow: 3px 3px 3px black;
    margin-left: 10px;
    height: 3vw;
    width: 12vw;
    background-color: rgb(0, 26, 255);
    justify-content: center;
    align-items: center;
    font-size: 1.8vw;
}
.div2, .div3, .div4, .div5 {
    background-color: rgb(0, 0, 204);
}
.div3 {
    background-color: rgb(0, 0, 153);
}
.div4 {
    background-color: rgb(0, 0, 102);
}
.div5 {
    background-color: rgb(0, 0, 80);
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
 #Home a:hover, #Stedentrips a:hover, #Contact a:hover, #last_minute a:hover, #Tickets a:hover, #Verre_reizen a:hover, #Zonvakanties a:hover {
    background-color: rgba(74, 74, 255, 0.863);
}
.mini_content { /* Mini Content */
    display: flex;
    height: 8vw;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.mini_content, .thumb_txt, .mini_img_txt_home, .main_content_ss_2, .mini_content_ss_mobile_box, .contact_field, .flex1_lm, .flex2_lm, .flex3_lm, .Tc_imgs, .Tc_imgs_2, .Tc_imgs_3, .Tc_end_div, .Vr_txt { /* Background-color text fields */
    background-color: rgba(0, 0, 0, 0.336);
}
.ss_imgs_mobile, #Verre_reizen .contact_lnk:hover, #Tickets .contact_lnk:hover {
    background-color: rgba(0, 0, 0, 0);
}
.mini_content_txt_big, .mini_content_txt_medium, #mini_content_ss {
    font-size: 1.6vw;
    color: whitesmoke;
    text-shadow: 3px 3px 3px black;
    font-family: sans-serif;
}
.mini_content_txt_medium {
    font-size: 0.9vw;
}
.contact_lnk, .thumb_txt {
    color: white;
}
.imgs_home {
    display: flex;
    margin-top: 2vw;
    margin-bottom: 2vw;
    justify-content: space-around;
}
.thumb1, .thumb2, .thumb3, .thumb4 {
    filter: opacity(90%);
    background-image: url("../img/img/thumb1.jpg");
    background-size: 110%;
    width: 30vw;
    height: 18vw;
}
.thumb3, .thumb4 {
    display: none;
}
.thumb2, .thumb4 {
    width: 30vw;
    height: 18vw;
    background-size: 110%;
    background-image: url("../img/img/thumb2.jpg");
}
.footer {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3.6%;
    background-color: rgba(39, 39, 39, 0.829);
    color: white;
    text-align: center;
    justify-content: right;
    align-items: center;
    z-index: 1;
}
#Home .contact_lnk:hover, #Stedentrips .contact_lnk:hover, #last_minute .contact_lnk:hover {
    background-color: rgba(255, 255, 255, 0);
}

/* Stedentrips-Page */

.body_ss {
    background-image: url("../img/bg_stedentrips/sunrise_at_san_francisco-wallpaper-1920x1080.jpg");
}
.p_ss {
    color: white;
    font-family: Titillium Web, serif;
    font-size: 2.1vw;
    text-shadow: 2px 2px 2px black;
}
.div6 {
    background-color: rgb(13, 13, 61);
}

.ss_imgs, .main_content_ss {
    margin-top: 1%;
    display: flex;
    float:left;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20vw;
}
.main_content_ss {
    height: 19vw;
}
.ss_thumb1, .ss_thumb2, .ss_thumb3, #main_content_ss_1, .main_content_ss_2, #main_content_ss_3, .txt1_lm, .txt2_lm, .img1_lm, .img2_lm, .img3_lm, .img3_lm, .img4_lm, .img5_lm {
    opacity: 95%;
    width: 30vw;
    height: 20vw;
    background-size: 110%;
}
.ss_thumb1:hover, .ss_thumb2:hover, .ss_thumb3:hover, #main_content_ss_1:hover, #main_content_ss_3:hover, .ss_img_Maastricht:hover, .ss_img_Barcelona:hover, .ss_img_Londen:hover, .ss_img_Curacao:hover, .ss_img_NY:hover, .txt1_lm:hover, .txt2_lm:hover, .img1_lm:hover, .img3_lm:hover, .img4_lm:hover, .img5_lm:hover, .Tc_img_1:hover, .Tc_img_2:hover, .Tc_img_3:hover, .Tc_img_4:hover, .Tc_img_5:hover, .Tc_img_6:hover, .Tc_img_7:hover, .Tc_img_8:hover, .Tc_img_9:hover, .Tc_img_10:hover, .Tc_img_11:hover, .Tc_img_12:hover, .Tc_img_13:hover, .Tc_img_14:hover, .Vr_img_1:hover, .Vr_img_2:hover, .Vr_img_3:hover {
    border: 2px solid black;
}
.ss_thumb1, .ss_img_Maastricht {
    background-image: url("../img/img/maastricht.png");
}
.ss_thumb2, .ss_img_Barcelona {
    background-image: url("../img/img/barcelona.png");
    background-size: 119.3%;
}
.ss_thumb3, .ss_img_Londen {
    background-image: url("../img/img/londen.png");
}
#Stedentrips .div5 { /* Make the button "Stedentrips " invisable */
    display: none;
}
#Stedentrips #main_content_ss_1, .ss_img_Curacao {
    background-image: url("../img/img/curacao.png");
}
#Stedentrips #main_content_ss_3, .ss_img_NY {
    background-size: 123.5%;
    background-image: url("../img/img/NY.png");
}
.ss_imgs_mobile, .mini_content_ss_mobile_box {
    display: none;
}

/* Contact-page */

.C_body {
    margin: 0px;
}
.contact_field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0%;
    margin-bottom: 0%;
    margin-top: 12vw;
    height: 50vw;
}
.field_font {
    color: white;
    font-size: 1vw;
}

/* Last_minute-page */

#last_minute .div4 {
    display: none;
}
#main_txt_lm {
    font-size: 1.5vw;
    color: whitesmoke;
}
.flex1_lm, .flex2_lm, .flex3_lm {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex1_lm {
    margin-top: 10vw;
    top: 100vw;
}
#body_lm {
    margin: 0%;
    background-size: 160%;
}
.txt1_lm, .txt2_lm, .img1_lm, .img2_lm, .img3_lm, .img4_lm, .img5_lm, .Tc_txt, .Vr_txt {
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}
.txt1_lm, .txt2_lm, .img1_lm, .img2_lm, .img3_lm, .img4_lm, .img5_lm, .Tc_txt {
    margin-top: 2vw;
}
.img5_lm, .img4_lm {
    margin-bottom: 2vw;
}
.img1_lm { /* Parijs */
    background-image: url("../img/img/paris.png");
    background-size: 101%;
}
.txt1_lm { /* Colombia */
    background-image: url("../img/img/colombia.png");
}
.txt2_lm {
    background-image: url("../img/img/zwitserland.png");
    background-size: 119%;
}
.img2_lm {
    background-color: rgba(128, 128, 128, 0.795);
    box-shadow: 2px 2px 2px black;
}
.img3_lm {
    background-image: url("../img/img/alpen.png");
    background-size: 129%;
}
.img4_lm {
    background-image: url("../img/img/lapalma.png");
}
.img5_lm {
    background-image: url("../img/img/cyprus.png");
    background-size: 120%;
}

/* Tickets-page */

.Tc_body {
    background-image: url("../img/bg_main/tropical_island_7-wallpaper-6400x2400.jpg");
    background-color: gray;
}
#Tickets .div3 {
    display: none;
}
#Tc_titles_1 {
    margin-bottom: -4vw;
}
.Tc_imgs, .Tc_imgs_2, .Tc_imgs_3 {
    margin-top: 11vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 1.5vw;
    border-bottom-right-radius: 1.5vw;
    border-top-right-radius: 1.5vw;
    border-top-left-radius: 1.5vw;
    margin-top: 4vw;
}
.Tc_img_1, .Tc_img_2, .Tc_img_3, .Tc_img_4, .Tc_img_5, .Tc_img_5, .Tc_img_6, .Tc_img_7, .Tc_img_8, .Tc_img_9, .Tc_img_10, .Tc_img_11, .Tc_img_12, .Tc_img_13, .Tc_img_14 {
    margin-top: 1vw;
    margin-bottom: 1vw;
    background-size: 100%;
    width: 18vw;
    height: 9vw;
}
.Tc_img_1 {
    background-image: url("../img/img/maastricht.png");
}
.Tc_img_2 {
    background-image: url("../img/img/barcelona.png");
    background-size: 120%;
}
s {
    background-image: url("../img/img/londen.png");
}
.Tc_img_3 {
    background-image: url("../img/img/londen.png");
}
.Tc_img_4 {
    background-image: url("../img/img/curacao.png");
}
.Tc_img_5 {
    background-image: url("../img/img/NY.png");
}
.Tc_img_6, .Tc_img_7, .Tc_img_8, .Tc_img_9, .Tc_img_10, .Tc_img_11 {
    width: 15vw;
}
.Tc_img_6 {
    background-image: url("../img/img/colombia.png");
}
.Tc_img_7 {
    background-image: url("../img/img/paris.png");
}
.Tc_img_8 {
    background-image: url("../img/img/lapalma.png");
}
.Tc_img_9 {
    background-image: url("../img/img/zwitserland.png");
    background-size: 107%;
}
.Tc_img_10 {
    background-image: url("../img/img/alpen.png");
    background-size: 107%;
}
.Tc_img_11 {
    background-image: url("../img/img/cyprus.png");
    background-size: 107%;
}
.Tc_img_12 {
    background-image: url("../img/img/india.png");
}
.Tc_img_13 {
    background-image: url("../img/img/japan.png");
}
.Tc_img_14 {
    background-image: url("../img/img/nieuw_zeeland.png");
}
.Tc_end_div {
    margin-top: 22vw;
    width: 100%;
    height: 50vw;
    border-bottom-left-radius: 1.5vw;
    border-bottom-right-radius: 1.5vw;
    border-top-right-radius: 1.5vw;
    border-top-left-radius: 1.5vw;
}

/* Verre-Reizen-page */

#Verre_reizen .div2 {
    display: none;
}
.Vr_imgs, .Vr_txt_display {
    display: flex;
    width: 100%;
    height: 30vw;
    justify-content: space-around;
    align-items: center;
}
.Vr_txt_display {
    height: 10vw;
}
.Vr_img_1, .Vr_img_2, .Vr_img_3, .Vr_txt {
    background-size: 100%;
    height: 20vw;
    width: 30vw;
}
.Vr_img_1 {
    background-image: url("../img/img/india.png");
}
.Vr_img_2 {
    background-image: url("../img/img/japan.png");
    background-size: 101%;
}
.Vr_img_3 {
    background-image: url("../img/img/nieuw_zeeland.png");
}
.Vr_txt {
    margin-top: -6vw;
    height: 10vw;
    width: 70vw;
}

/* Zonvakanties-page */

#Zonvakanties .div1 {
    display: none;
}

/* Mobile UI'S */

@media only screen and (max-width: 767px)  {

    /* Home-Mobile */

    .body_home, .Tc_body {
        background-image: url("../img/bg_main/tropical_island_7-wallpaper-1366x768.jpg");
    }
    .nav_bar { /* Nav frame */
        margin-top: 1%;
        flex-direction: column;
        float: none;
        height: 70vw;
        width: 20vw;
        align-items: flex-end;
        justify-content: space-evenly;
    }
    #Home .div1, .div2, .div3, .div4, .div5, .div6, #Stedentrips .div1, .div2, .div3, .div4, .div5, .div6, #Contact .div1, .div2, .div3, .div5, .div6, #last_minute .div1, #Tickets .div1, .div2, .div4, .div5, .div6, #Verre_reizen .div1, .div3, .div4, .div5, .div6, #Zonvakanties .div2, .div3, .div4, .div5, .div6 { /* Nav button's */
        height: 6vw;
        width: 15vw;
        margin-left: 0px;
        margin-top: 10px;
        margin-right: 12.5%;
        font-size: 2.5vw;
    }
    .div6 {
        margin-bottom: 10px;
    }
    .mini_content { /* main content (txt) for home page */
        margin-top: -74%;
        height: 30vw;
        width: 70%;
        float: right;
        margin-right: 3%;
    }
    .mini_content_txt_big {
        font-size: 4vw;
    }
    .mini_content_txt_medium {
        font-size: 2.6vw;
    }
    .imgs_home {
        margin-top: -33%;
        height: 30vw;
        width: 70%;
        float: right;
        margin-right: 3%;
    }
    .thumb1, .thumb2 {
        display: none;
    }
    .thumb3, .thumb4 {
        width: 46vw;
        height: 27vw;
        display: flex;
    }
    .thumb_mobile {
        display: flex;
        width: 97.4%;
        margin-top: 2vw;
        margin-bottom: 2vw;
        justify-content: space-around;
    }
    .footer { /* Footer for home page */
        font-size: 12px;
        height: 5%;
    }
    .top_title {
        font-size: 25px; /* head title for home page */
    }

    /* Stedentrips-Mobile */

    .p_ss {
        font-size: 5.5vw;
    }
    .body_ss, #Zonvakanties .Zv_body {
        background-image: url("../img/bg_stedentrips/sunrise_at_san_francisco-wallpaper-1217x1999.jpg");
    }
    .ss_imgs, .main_content_ss {
        display: none;
    }
    .ss_imgs_mobile {
        background-color: rgba(0, 0, 0, 0.336);
        margin-top: -73.4%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 39vw;
        height: 90vw;
        margin-left: 59%;
    }
    .ss_img_Maastricht, .ss_img_Barcelona, .ss_img_Londen, .ss_img_Curacao, .ss_img_NY {
        width: 36vw;
        height: 31vw;
        background-size: 100%;
        margin-bottom: 2vw;
    }
    .ss_img_Londen {
        margin-bottom: 1vw;
    }
    .ss_img_Maastricht {
        margin-top: 1vw;
    }
    .mini_content_ss_mobile_box {
        color: white;
        display: block;
        width: 55vw;
        height: 18vw;
        position: relative;
        font-size: 2.2vw;
        bottom: 20vw;
        left: 0px;
    }

    /* Contact-mobile */

    .field_font {
        font-size: 3vw;
    }
    .contact_field {
        margin-top: -20vw;
        background-color: rgba(0, 0, 0, 0);
        margin-left: 5%;
    }
    .field_font {
        color: black;
    }

    /* Last-minute-mobile */

    .flex1_lm, .flex2_lm, .flex3_lm {
        flex-direction: column;
    }
    .txt1_lm, .txt2_lm, .img1_lm, .img2_lm, .img3_lm, .img4_lm, .img5_lm {
        width: 50vw;
        height: 20vw;
        background-size: 110%;
    }
    .img2_lm {
        font-size: 2vw;
        height: 40vw;
    }
    #main_txt_lm {
        font-size: 2.5vw;
    }
    .flex1_lm, .flex2_lm, .flex3_lm {
        background-color: rgba(0, 0, 0, 0);
    }
    .flex1_lm {
        margin-top: -75vw;
    }
    .flex3_lm {
        margin-bottom: 10vw;
    }

    /* Verre-reizen-mobile */

    .Vr_imgs {
        flex-direction: column;
        margin-top: -70vw;
        margin-left: 35vw;
        background-color: rgba(0, 0, 0, 0.336);
        height: 100%;
        width: 52vw;
    }
    .Vr_txt_display {
        margin-left: 12vw;
        margin-top: 5vw;
    }
    .Vr_img_1, .Vr_img_2 {
        margin-bottom: 5vw;
    }
    .Vr_img_1 {
        margin-top: 1vw;
    }
    .Vr_img_3 {
        margin-bottom: 1vw;
    }
    .Vr_img_1, .Vr_img_2, .Vr_img_3, .Vr_txt {
        background-size: 100%;
        width: 50vw;
        height: 30vw;
    }
    .Vr_txt {
        margin-top: 15vw;
        height: 30vw;
        width: 70vw;
    }
    #mini_content_ss {
        font-size: 3vw;
    }
}
@media (min-height: 800px) { /* stokbrood detection */
    .body_home, #Contact .C_body, #Tickets .Tc_body {
        background-image: url("../img/bg_main/tropical_island_7-wallpaper-1217x1999.jpg");
    }
    .body_ss, #Zonvakanties .Zv_body {
        background-image: url("../img/bg_stedentrips/sunrise_at_san_francisco-wallpaper-1217x1999.jpg");
    }
}
/* lasagna detection */
@media only screen and (min-width: 1280px) {
    .body_home, #Contact .C_body, #Tickets .Tc_body {
        background-image: url("../img/bg_main/tropical_island_7-wallpaper-1366x768.jpg");
    }
    .body_ss, #Zonvakanties .Zv_body {
        background-image: url("../img/bg_stedentrips/sunrise_at_san_francisco-wallpaper-1366x768.jpg");
    }
}
@media only screen and (min-width: 1366px) {
    .body_home, #Contact .C_body, #Tickets .Tc_body {
        background-image: url("../img/bg_main/tropical_island_7-wallpaper-1600x900.jpg");
    }
    .body_ss, #Zonvakanties .Zv_body {
        background-image: url("../img/bg_stedentrips/sunrise_at_san_francisco-wallpaper-1600x900.jpg");
    }
}
@media only screen and (min-width: 1600px) {
    .body_home, #Contact .C_body, #Tickets .Tc_body {
        background-image: url("../img/bg_main/tropical_island_7-wallpaper-1920x1080.jpg");
    }
    .body_ss, #Zonvakanties .Zv_body {
        background-image: url("../img/bg_stedentrips/sunrise_at_san_francisco-wallpaper-1920x1080.jpg");
    }
}
@media only screen and (min-width: 1920px) {
    .body_home, #Contact .C_body, #Tickets .Tc_body {
        background-image: url("../img/bg_main/tropical_island_7-wallpaper-2048x1152.jpg");
    }
    .body_ss, #Zonvakanties .Zv_body {
        background-image: url("../img/bg_stedentrips/sunrise_at_san_francisco-wallpaper-2048x1152.jpg");
    }
}
@media only screen and (min-width: 2048px) {
    .body_home, #Contact .C_body, #Tickets .Tc_body {
        background-image: url("../img/bg_main/tropical_island_7-wallpaper-2400x1350.jpg");
    }
    .body_ss, #Zonvakanties .Zv_body {
        background-image: url("../img/bg_stedentrips/sunrise_at_san_francisco-wallpaper-2400x1350.jpg");
    }
}
@media only screen and (min-height: 900px) {
    .body_home, #Contact .C_body, #Tickets .Tc_body {
        background-image: url("../img/bg_main/tropical_island_7-wallpaper-2400x1350.jpg");
    }
    .body_ss, #Zonvakanties .Zv_body {
        background-image: url("../img/bg_stedentrips/sunrise_at_san_francisco-wallpaper-2400x1350.jpg");
    }
}
@media only screen and (min-width: 2400px) {
    .body_home, #Contact .C_body, #Tickets .Tc_body {
        background-image: url("../img/bg_main/tropical_island_7-wallpaper-2560x1440.jpg");
    }
    .body_ss, #Zonvakanties .Zv_body {
        background-image: url("../img/bg_stedentrips/sunrise_at_san_francisco-wallpaper-2560x1440.jpg");
    }
}
@media only screen and (min-width: 2560px) {
    .body_home, #Contact .C_body, #Tickets .Tc_body {
        background-image: url("../img/bg_main/tropical_island_7-wallpaper-2560x1440.jpg");
    }
    .body_ss, #Zonvakanties .Zv_body {
        background-image: url("../img/bg_stedentrips/sunrise_at_san_francisco-wallpaper-2560x1440.jpg");
    }
}
@media (min-width: 2400px) {
    .body_home, #Contact .C_body, #Tickets .Tc_body {
        background-image: url("../img/bg_main/tropical_island_7-wallpaper-6400x2400.jpg");
    }
    .body_ss, #Zonvakanties .Zv_body {
        background-image: url("../img/bg_stedentrips/sunrise_at_san_francisco-wallpaper-5120x3200.jpg");
    }
}