@media only screen and (min-width: 999px) {
    /* rules that only apply for canvases narrower than 1000px */
    body {
      background-image: url("../img/bg_pc_1920x1080.png");
      
    }
  }
  
  @media only screen and (device-width: 768px) and (orientation: landscape) {
    /* rules for iPad in landscape orientation */
    body {
      background-image: url("../img/bg_ip_768x1024.png");
      background-size: cover;
    }
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* iPhone, Android rules here */
    body {
      background-image: url("../img/bg_mob_765x1152.png");
      background-size: cover;
    }
  }